{{ define "content" }}
<div class="application-main " data-commit-hovercards-enabled>
    <main>
        <div class="container-xl clearfix px-3 mt-4">

            {{ partial "user-profile.html" . }}

            {{ partial "categories.html" .}}

    </main>
</div>
{{end }}
