<div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope
    itemtype="http://schema.org/Person">
    <div class="user-profile-sticky-bar js-user-profile-sticky-bar">
    </div>
    <div class="clearfix mb-2">
        <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
            {{ with $.Site.Params.avatar }}
            <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                href="{{ $.Site.Params.avatar  }}">
                <img alt="" width="260" height="260"
                    class="avatar width-full height-full rounded-2" src="{{ $.Site.Params.avatar  }}" />
            </a>
            {{ else }}
            <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                href="{{ "images/avatar.png" | absURL }}">

                <img alt="" width="260" height="260"
                    class="avatar width-full height-full rounded-2" src="{{ "images/avatar.png" | absURL }}" />
            </a>
           {{ end }}
        </div>
        <div class="float-left col-9 col-md-12 pl-2 pl-md-0">

            <div class="vcard-names-container pt-1 pt-md-3 pb-1 pb-md-3 js-sticky js-user-profile-sticky-fields">
                <h1 class="vcard-names">
                    <span class="p-name vcard-fullname d-block overflow-hidden"
                        itemprop="name">{{ .Site.Params.author }}</span>
                    <span class="p-nickname vcard-username d-block"
                        itemprop="additionalName">{{ .Site.Params.github }}</span>
                </h1>
            </div>

            <div class="d-none d-md-block">
                <div class="js-profile-editable-area">
                    <div class="p-note user-profile-bio js-user-profile-bio">
                        <div>{{ .Site.Params.Description }}</div>
                    </div>
                    <ul class="vcard-details mb-3">

                        {{ if .Site.Params.email }}
                        <li itemprop="email" aria-label="Email: {{ .Site.Params.Email }}"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-mail"
                                viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z" />
                            </svg>
                            <a class="u-email " href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
                        </li>
                        {{ end }}

                        <li itemprop="url" data-test-selector="profile-website-url"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-link"
                                viewBox="0 0 586 559" version="1.1" width="16" height="16" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M293.026,434.983L293.026,434.983l62.199-191.322H230.918L293.026,434.983L293.026,434.983z
                       M143.798,243.662L143.798,243.662l-18.941,58.126c-1.714,5.278,0.137,11.104,4.661,14.394 l163.509,118.801L143.798,243.662L143.798,243.662z
                       M143.798,243.662h87.12l-37.494-115.224c-1.919-5.895-10.282-5.895-12.27,0L143.798,243.662 L143.798,243.662z
                       M442.346,243.662L442.346,243.662l18.873,58.126c1.714,5.278-0.137,11.104-4.661,14.394 L293.026,434.983L442.346,243.662L442.346,243.662z
                       M442.346,243.662h-87.12l37.425-115.224c1.919-5.895,10.282-5.895,12.27,0L442.346,243.662 L442.346,243.662z">
                                </path>
                            </svg>
                            {{ if .Site.Params.url }}
                            <a rel="nofollow me" href="{{ .Site.Params.url }}">{{ .Site.Params.url }}</a>
                            {{ else }}
                            <a rel="nofollow me" href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
                            {{ end }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border-top py-3 clearfix hide-sm hide-md">
                <h2 class="mb-1 h4">Organizations</h2>

                {{ if .Site.Params.github}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://gitlab.com/{{ .Site.Params.github }}">
                    <svg width="35" height="35" class="avatar github-octicon" viewBox="0 0 586 559" version="1.1"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M293.026,434.983L293.026,434.983l62.199-191.322H230.918L293.026,434.983L293.026,434.983z
M143.798,243.662L143.798,243.662l-18.941,58.126c-1.714,5.278,0.137,11.104,4.661,14.394 l163.509,118.801L143.798,243.662L143.798,243.662z M143.798,243.662h87.12l-37.494-115.224c-1.919-5.895-10.282-5.895-12.27,0L143.798,243.662 L143.798,243.662z M442.346,243.662L442.346,243.662l18.873,58.126c1.714,5.278-0.137,11.104-4.661,14.394 L293.026,434.983L442.346,243.662L442.346,243.662z M442.346,243.662h-87.12l37.425-115.224c1.919-5.895,10.282-5.895,12.27,0L442.346,243.662 L442.346,243.662z">
                        </path>
                    </svg>
                </a>
                {{ end }}
                {{ if .Site.Params.misskey}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="{{ .Site.Params.misskey }}">
                    <img src="{{ "images/misskey.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.mastodon}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="{{ .Site.Params.mastodon }}">
                    <img src="{{ "images/mastodon.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.facebook}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://facebook.com/{{ .Site.Params.facebook }}">
                    <img src="{{ "images/facebook.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.Twitter}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://twitter.com/{{ .Site.Params.Twitter }}">
                    <img src="{{ "images/twitter.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                <a class="avatar-group-item" data-hovercard-type="organization"
                                             href="{{ "posts/index.xml" | absURL }}">
                    <img src="{{ "images/rss.png" | absURL }}" class="avatar" width="38" height="38">
                </a>
            </div>

            <div data-test-selector="profile-sponsorships">
            </div>
        </div>
    </div>
</div>
